h2 {
    
}

li {
    list-style-type: none;
    margin-bottom: 8px;
    
}

.card {
    border: 1px solid black;
    border-radius: 12px;
    padding: 6px;
}


.country-info {
    display: flex;
    flex-direction: column;
}