.display-container {
    display: flex;
    flex-direction: row;   
}

.left-col {
    display: flex;
    flex-direction: column;
    margin: 40px;
    margin-top: 120px;
    max-width: 65%;

}

.right-col {
    display: flex;
    flex-direction: column;
    margin: 40px;
    min-width: 35%;
    align-items: flex-start;
}

.max-width: 65%; /* Ensure the right column doesn't exceed 65% of the screen width */
align-items: flex-start; /* Align items at the start of the column */
margin-top: 40px; /* Add 40px margin at the top */